# Ignore macOS system files
.DS_Store
.Spotlight-V100
.Trashes
._*

# Ignore Python virtual environment
venv/
__pycache__/

# Ignore compiled Python files
*.pyc
*.pyo
*.pyd

# Ignore log and cache files
*.log
*.cache
*.bak

